@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.main-container {
  max-width: 1140px;
  margin-inline: auto;
  padding-right: 1.4rem;
  padding-left: 1.4rem;
}

.section {
  padding: 2rem 0;
}

@media (min-width: 640px) {
  .section {
    padding: 100px 2rem;
  }
}